body { font-family: sans-serif; margin: 2rem; }
    table { border-collapse: collapse; width: 380px; margin-bottom: 1rem; }
    td, th { border: 1px solid #999; padding: .5rem; text-align: left; }
    #result { margin-top:1rem; white-space: pre-wrap; }